<meta name="msvalidate.01" content="6ACB82DB8CF22904E2B6778AEDEBF4B9" />

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-8547796-14"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>

<!-- Clarity tracking code for https://www.ospositivos.pt/ -->
<script>
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "58tyiq9qui");
</script>
