.coluna .coluna.inicio {
	margin: 32px auto 0;
	padding: 16px 24px 0;
	background: cornsilk;
	font-size: 18px;
	line-height: 1.6em;
	max-width: 560px;
	position:relative;
	box-shadow: 0px 3px 12px -6px rgba(0, 0, 0, 0.2);
	border-radius:8px;
}
.inicio .icon {
	background: url('https://1.bp.blogspot.com/-xLzanT25DSM/YKUAYqUSlGI/AAAAAAAAcEc/92YVUKPcUYcO_l118U1vMZKInSA5dXpIgCPcBGAsYHg/s0/enchanted.jpg') no-repeat;
	background-size: auto;
	background-size: contain;
	width: 44px;
	height: 44px;
	display: block;
	margin: 24px auto 42px;
	border: 2px solid deeppink;
	border-radius: 40px;
}
.coluna .coluna.inicio > blockquote {
	border-top: none;
	box-shadow: none;
	max-width: 385px;
	margin-top:0;
	padding-top:12px;
	margin-bottom:0;
	padding-bottom:0;
	line-height: 1.6em;
	text-align: right;
	font-style: italic;
	font-size: 13px;
}
.coluna .coluna.inicio > blockquote::after {
	top: 8px;
	left: -16px;
}
.inicio blockquote small {
	text-align: right;
	padding-top: 0;
}
.coluna .coluna.inicio > p {
	padding:44px 32px;
	font-size: 13px;
	line-height: 1.6em;
}
.inicio::after {
	display: block;
	content: "";
	background: deeppink;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	margin: 16px auto auto;
}
@media (max-width: 767.98px) {
	.coluna.inicio {
		max-width:100%;
		}
	.coluna.inicio::after {
		position:absolute;
		left: 82px;
		bottom:-26px;
		}
}
@media (min-width: 624px) and (max-width: 767.98px) {
	.coluna.inicio {
		max-width: 100% !important;
		margin-left: 0 !important;
		}
}
.timeline *, .timeline *::before, .timeline *::after {
	box-sizing: border-box;
}
.timeline {
	position: relative;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 15px 0;
}
.timeline.smaller {
	position: relative;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 15px 0;
}
.timeline.smaller .container .content {
	padding: 30px 90px 30px 30px;
}
.timeline.smaller .container.right .content {
	padding: 30px 30px 30px 90px;
}
.timeline::after {
	content: '';
	position: absolute;
	width: 2px;
	background: deeppink;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -1px;
}
.timeline a {
	color:#39f;
	}
.container {
	padding: 15px 30px;
	position: relative;
	background: inherit;
	width: 50%;
}
.container.left {
	left: 0;
}
.container.right {
	left: 50%;
}
.container::after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
	right: -8px;
	background: deeppink;
	border: 2px solid deeppink;
	border-radius: 16px;
	z-index: 1;
}
.container.right::after {
	left: -8px;
}
.container::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 2px;
	top: calc(50% - 1px);
	right: 8px;
	background: deeppink;
	z-index: 1;
}
.container.right::before {
	left: 8px;
}
.container .nome {
	position: absolute;
	display: inline-block;
	top: calc(50% - 12px);
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: deeppink;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 1;
}
.container.left .nome {
	right: -75px;
}
.container.left .nome::after {
	content: "DI";
}
.container.right .nome {
	left: -75px;
}
.container.right .nome::after {
	content: "PM";
}
.container .icon {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 9px 0;
	top: calc(50% - 20px);
	background: lemonchiffon;
	border: 2px solid deeppink;
	border-radius: 40px;
	text-align: center;
	font-size: 18px;
	color: deeppink;
	z-index: 1;
	background-size: contain;
}
.container.left .icon {
	right: 56px;
	background: url('https://1.bp.blogspot.com/-h0H9zr6t5gA/YKfYqcdcHSI/AAAAAAAAcHA/9R4DJQGwl8A2ss7DEXSDwiai1kMoMFNZQCPcBGAsYHg/s0/di.png') no-repeat;
	background-size: contain;
}
.container.right .icon {
	left: 56px;
	background: url('https://1.bp.blogspot.com/-IQ0PDWxEhIc/YIXmnO_kebI/AAAAAAAAb2c/qOgYDll8vYItQ4mS6FlC0DPZHa6yHf8wgCPcBGAsYHg/s0/pm.png') no-repeat;
	background-size: contain;
}
.container .content {
	padding: 60px 90px 60px 60px;
	background: cornsilk;
	position: relative;
	border-radius: 16px;
	box-shadow: 0px 3px 12px -6px rgba(0, 0, 0, 0.2);
}
.container .content img {
	border-radius: 6px;
	margin-bottom: 32px;
	box-shadow: 5px 10px burlywood;
}
.container .content.primary {
	background: darkseagreen;
}
.container.right .content {
	padding: 60px 60px 60px 90px;
}
.container .content p {
	margin: 0;
	font-size: 13px;
	line-height: 1.6em;
}
.container .content p + p {
	margin-top: 16px;
}
.container.nota {
	font-size: 12px;
	text-align: center;
	margin-top: -8px;
}
.container.nota small {
	display: block;
	font-size: 10px;
	line-height: 14px !important;
}
.container.nota img {
	border: 2px solid #000;
	margin-bottom: 12px;
	box-shadow: 5px 10px #888888;
}
.container.nota::before, .container.nota::after {
	display: none !important;
}
.container.fim::before {
	display: none;
}
.container.fim::after {
	top:36px;
	content:url(/assets/loader.svg);
	width: 32px;
	height: 32px;
	right: -16px;
	padding-left: 8px;
	padding-top: 5px;
}
 @media (max-width: 767.98px) {
	.timeline {
		overflow: hidden;
	}
	.timeline.smaller .container .content {
		padding: 30px 30px 30px 90px;
	}
	.timeline::after {
		left: 90px;
	}
	.container {
		padding-right:8px !important;
	}
	.container,
	.container.close {
		width: 100%;
		padding-left: 120px;
		padding-right: 30px;
	}
	.container.close::before,
	.container.close::after {
		display: none;
	}
	.container.close .icon {
		left: 30px;
		top: 30px;
	}
	.container.right {
		left: 0%;
	}
	.container.left::after,
	.container.right::after {
		top: 76px;
		left: 82px;
	}
	.container.left::before,
	.container.right::before {
		top: 83px;
		left: 40px;
		border-color: transparent #006E51 transparent transparent;
	}
	.container.left .nome,
	.container.right .nome {
		display: none;
	}
	.container.left .icon,
	.container.right .icon {
		right: auto;
		top: 63px;
		left: 16px;
	}
	.container.left .content,
	.container.right .content {
		padding: 60px 30px 60px 30px;
		border-radius: 16px;
	}
	.container.fim::after {
		left: 74px;
		top:13px;
	}
}

/* darkmode */
#appDarkmodeButton {z-index: 999;}
html.hero-twitter body[data-light-mode=dark] {
	background-color: grey;
  color: #e0e0e0;
	}
html.hero-twitter body[data-light-mode=dark] .inicio {
	background-color:#1f1f1f;
	color:rgb(224, 224, 224);
	}
html.hero-twitter body[data-light-mode=dark] .inicio::after {background-color:gainsboro;}
html.hero-twitter body[data-light-mode=dark] .inicio .icon {
	border-color: gainsboro;
	background-color: #fff;
	filter: brightness(1) contrast(1) grayscale(100%);
}
html.hero-twitter body[data-light-mode=dark] .timeline::after {background-color:gainsboro;}
html.hero-twitter body[data-light-mode=dark] .container * {color:rgb(224, 224, 224);}
html.hero-twitter body[data-light-mode=dark] .container .content {background-color:#1f1f1f;}
html.hero-twitter body[data-light-mode=dark] .container .content.primary {background: darkred;}
html.hero-twitter body[data-light-mode=dark] .timeline a,
html.hero-twitter body[data-light-mode=dark] .timeline .content a,
html.hero-twitter body[data-light-mode=dark] .timeline .container a i {color:#90ee90;}
html.hero-twitter body[data-light-mode=dark] .container .nome  {color:gainsboro;}
html.hero-twitter body[data-light-mode=dark] .container .icon {
	border-color: gainsboro;
	background-color: #fff;
	filter: brightness(1) contrast(1) grayscale(100%);
	}
html.hero-twitter body[data-light-mode=dark] .container::before {background: gainsboro;}
html.hero-twitter body[data-light-mode=dark] .container::after {
    background: gainsboro;
    border-color: gainsboro;
}
html.hero-twitter body[data-light-mode=dark] .container.nota img {
	box-shadow: 5px 10px #2a2a2a;
}
