.coluna .coluna.inicio {
	margin: 32px auto 0;
	padding: 16px 24px 0;
	background: snow;
	font-family: 'KoHo', sans-serif;
	font-size: 18px;
	line-height: 1.6em;
	max-width: 560px;
	position:relative;
	box-shadow: 0px 3px 12px -6px rgba(0, 0, 0, 0.2);
	border-radius:8px;
}
.inicio .icon{
	background: url('https://1.bp.blogspot.com/-xLzanT25DSM/YKUAYqUSlGI/AAAAAAAAcEc/92YVUKPcUYcO_l118U1vMZKInSA5dXpIgCPcBGAsYHg/s0/enchanted.jpg') no-repeat;
	background-size: auto;
	background-size: contain;
	width: 44px;
	height: 44px;
	display: block;
	margin: 24px auto;
	border: 2px solid deeppink;
	border-radius: 40px;
}
.coluna .coluna.inicio > blockquote {
	border-top: none;
	box-shadow: none;
	max-width: 400px;
	font-family: 'KoHo', sans-serif;
	margin-top:0;
	padding-top:0;
	margin-bottom:0;
	padding-bottom:0;
}
.inicio blockquote small {
	text-align: right;
	padding-right:24px;
}
.coluna .coluna.inicio > p {
	padding-bottom:32px;
}
inicio blockquote::after {
	left: -6px;
}
.inicio::after {
	display: block;
	content: "";
	background: deeppink;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	margin: 16px auto auto;
}
@media (max-width: 767.98px) {
	.coluna.inicio {
		max-width:100%;
		}
	.coluna.inicio::after {
		position:absolute;
		left: 82px;
		bottom:-26px;
		}
}
.timeline *, .timeline *::before, .timeline *::after {
	box-sizing: border-box;
	font-family: 'KoHo', sans-serif;
}
.timeline {
	position: relative;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 15px 0;
}
.timeline.smaller {
	position: relative;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 15px 0;
}
.timeline::after {
	content: '';
	position: absolute;
	width: 2px;
	background: deeppink;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -1px;
}
.timeline a {
	color:#39f;
	}
.container {
	padding: 15px 30px;
	position: relative;
	background: inherit;
	width: 50%;
}
.container.left {
	left: 0;
}
.container.right {
	left: 50%;
}
.container::after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
	right: -8px;
	background: deeppink;
	border: 2px solid deeppink;
	border-radius: 16px;
	z-index: 1;
}
.container.right::after {
	left: -8px;
}
.container::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 2px;
	top: calc(50% - 1px);
	right: 8px;
	background: deeppink;
	z-index: 1;
}
.container.right::before {
	left: 8px;
}
.container .nome {
	position: absolute;
	display: inline-block;
	top: calc(50% - 12px);
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: deeppink;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 1;
}
.container.left .nome {
	right: -75px;
}
.container.left .nome::after {
	content: "DI";
}
.container.right .nome {
	left: -75px;
}
.container.right .nome::after {
	content: "PM";
}
.container .icon {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 9px 0;
	top: calc(50% - 20px);
	background: lemonchiffon;
	border: 2px solid deeppink;
	border-radius: 40px;
	text-align: center;
	font-size: 18px;
	color: deeppink;
	z-index: 1;
	background-size: contain;
}
.container.left .icon {
	right: 56px;
	background: url('https://1.bp.blogspot.com/-NcSoX9QU53c/YIXtN6mTwnI/AAAAAAAAb3Q/V8CIvoNjzR0efKUhPvem9l2_AqMiQnVtwCPcBGAsYHg/s0/di.png') no-repeat;
	background-size: contain;
}
.container.right .icon {
	left: 56px;
	background: url('https://1.bp.blogspot.com/-IQ0PDWxEhIc/YIXmnO_kebI/AAAAAAAAb2c/qOgYDll8vYItQ4mS6FlC0DPZHa6yHf8wgCPcBGAsYHg/s0/pm.png') no-repeat;
	background-size: contain;
}
.container .content {
	padding: 60px 90px 60px 60px;
	background: snow;
	position: relative;
	border-radius: 16px;
	box-shadow: 0px 3px 12px -6px rgba(0, 0, 0, 0.2);
}
.container.right .content {
	padding: 60px 60px 60px 90px;
}
.container .content p {
	margin: 0;
	font-size: 18px;
	line-height: 1.6em;
}
.container .content p + p {
	margin-top: 16px;
}
.container.nota {
	font-size: 12px;
	text-align: center;
}
.container.nota img {
	border: 2px solid #000;
	margin-bottom: 24px;
	box-shadow: 5px 10px #888888;
}
.container.nota::before, .container.nota::after {
	display: none !important;
}
.container.fim::before {
	display: none;
}
.container.fim::after {
	top:36px;
	content:url(/assets/loader.svg);
	width: 32px;
	height: 32px;
	right: -16px;
	padding-left: 8px;
	padding-top: 5px;
}
 @media (max-width: 767.98px) {
.timeline {
	overflow: hidden;
}
.timeline::after {
	left: 90px;
}
.container {
	padding-right:0 !important;
}
.container, .container.close {
	width: 100%;
	padding-left: 120px;
	padding-right: 30px;
}
.container.close::before, 
.container.close::after {
	display: none;
}
.container.close .icon {
	left: 30px;
	top: 30px;
}
.container.right {
	left: 0%;
}
.container.left::after, 
.container.right::after {
	left: 82px;
}
.container.left::before,
.container.right::before {
	left: 97px;
	border-color: transparent #006E51 transparent transparent;
}
.container.left .nome, 
.container.right .nome {
	right: auto;
	left: 15px;
}
.container.left .icon, 
.container.right .icon {
	right: auto;
	left: 146px;
}
.container.left .content,
.container.right .content {
	padding: 60px 30px 60px 90px;
	border-radius: 16px 0 0 16px;
}
.container.fim::after {
	left: 74px;
	top:13px;
}
}

/* darkmode */
html.hero-twitter body[data-light-mode=dark] {
	background-color: grey;
    color: #e0e0e0;
	}
html.hero-twitter body[data-light-mode=dark] .inicio {
	background-color:#1f1f1f;
	color:rgb(224, 224, 224);
	}
html.hero-twitter body[data-light-mode=dark] .inicio::after {background-color:gainsboro;}
html.hero-twitter body[data-light-mode=dark] .timeline::after {background-color:gainsboro;}
html.hero-twitter body[data-light-mode=dark] .container * {color:rgb(224, 224, 224);}
html.hero-twitter body[data-light-mode=dark] .container .content {background-color:#1f1f1f;}
html.hero-twitter body[data-light-mode=dark] .timeline a,
html.hero-twitter body[data-light-mode=dark] .timeline .content a {color:#90ee90;}
html.hero-twitter body[data-light-mode=dark] .container .nome  {color:gainsboro;}
html.hero-twitter body[data-light-mode=dark] .container .icon {
	border-color: gainsboro;
	background-color: #fff;
	filter: brightness(1) contrast(1) grayscale(100%);
	}
html.hero-twitter body[data-light-mode=dark] .container::before {background: gainsboro;}
html.hero-twitter body[data-light-mode=dark] .container::after {
    background: gainsboro;
    border-color: gainsboro;
}