---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt" }}" class="{{ page.estilo }}">
  {%- include head.html -%}

  <body>

   <!-- toggle pt1 -->
    <script>
    var appDarkMode = document.getElementsByTagName("BODY")[0];
    if (localStorage.lightMode == "dark") {
        appDarkMode.setAttribute("data-light-mode", "dark");
        appDarkmodeButton.checked = true;
      }
    </script>
    <script>
        var appJustComixMode = document.getElementsByTagName("BODY")[0];
        if (localStorage.comixMode == "true") {
            appJustComixMode.setAttribute("data-justcomix-mode", "true");
            appJustComixButton.checked = true;
          }
    </script>

    <a id="appDarkmodeButton" onclick="toggle_light_mode()"></a>
    <a id="appJustComixButton" onclick="toggle_justcomix_mode()"></a>

  {{ content }}

  {%- include footer.html -%}

    <!-- toggle pt2 -->
  <script>
  function toggle_light_mode() {
    var appDarkMode = document.getElementsByTagName("BODY")[0];
    if (localStorage.lightMode == "dark") {
  	  localStorage.lightMode = "light";
  	  appDarkMode.setAttribute("data-light-mode", "light");
    } else {
  	  localStorage.lightMode = "dark";
  	  appDarkMode.setAttribute("data-light-mode", "dark");
    }
  }
  </script>
  <script>
    function toggle_justcomix_mode() {
      var appJustComixMode = document.getElementsByTagName("BODY")[0];
      if (localStorage.comixMode == "true") {
    	  localStorage.comixMode = "false";
    	  appJustComixMode.setAttribute("data-justcomix-mode", "false");
      } else {
    	  localStorage.comixMode = "true";
    	  appJustComixMode.setAttribute("data-justcomix-mode", "true");
      }
    }
    </script>

  </body>
</html>
