---
layout: compress
---
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>DISCLOSURE</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" />

<!--
######## ########  ##    ##
   ##    ##     ##  ##  ##
   ##    ##     ##   ####
   ##    ########     ##
   ##    ##   ##      ##
   ##    ##    ##     ##
   ##    ##     ##    ##
##     ##    ###    ########  ########  ######## ########  ####
##     ##   ## ##   ##     ## ##     ## ##       ##     ## ####
##     ##  ##   ##  ##     ## ##     ## ##       ##     ## ####
######### ##     ## ########  ##     ## ######   ########   ##
##     ## ######### ##   ##   ##     ## ##       ##   ##
##     ## ##     ## ##    ##  ##     ## ##       ##    ##  ####
##     ## ##     ## ##     ## ########  ######## ##     ## ####
-->
<!-- gfont -->
<link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
<!-- styles -->
<link href="assets/disclosure/disclosure.css" rel="stylesheet" type="text/css">
<!-- js -->
<script src="assets/disclosure/swfobject_modified.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/disclosure/bigfoot.min.js"></script>
</head>
<body>

  {{ content }}

  <!-- js -->
  <script type="text/javascript">
    swfobject.registerObject("FlashID");
  </script>
  <script type="text/javascript">
    var bigfoot = $.bigfoot(
    {
      positionContent : false }
    );
  </script>
  <script src="assets/disclosure/page.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8547796-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-8547796-13');
  </script>

  <script type='text/javascript'>
        //<![CDATA[
        var sc_project=9463757;
        var sc_invisible=1;
        var sc_security='82fe8ff3';
      //]]>
  </script>
  <script async='async' src='https://secure.statcounter.com/counter/counter.js' type='text/javascript'/>
  <noscript><div class='statcounter'><a href='https://statcounter.com/free-hit-counter/' target='_blank' title='hit counter'><img alt='hit counter' class='statcounter' src='https://c.statcounter.com/9463757/0/82fe8ff3/1/'/></a></div></noscript>
  </body>
  </html>
