---
layout: default
---

{%- include header.html -%}

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {% capture warningDate %}{{ site.time | date: '%Y' | minus:1 }}{% endcapture %}
  {% capture postDate %}{{ page.date | date: "%Y" }}{% endcapture %}
  {% if postDate < warningDate %}
    <script src="/assets/pinwarning-script.js"></script>
    <div id="avisoData" class="avisoData">hum... esta página já tem alguns anos <sup>({{ page.date | date: "%Y" }})</sup>.<br class="mobileOnly"> E se procurasses alguma coisa <a href="{{ site.url }}">mais recente</a> ? </div>
  {% endif %}

  {{ content }}

  <div class="postnav uk-grid uk-grid-collapse uk-child-width-1-2 uk-flex-center">
  {% if page.previous.url %}
    <a class="prev uk-text-right uk-padding-small-right" href="{{page.previous.url}}">&#10534; prev</a>
    {% else %}
    <span class="no-prev"></span>
  {% endif %}
  {% if page.next.url %}
    <a class="next uk-text-left uk-padding-small-left" href="{{page.next.url}}">next &#10532;</a>
    {% else %}
    <span class="no-next"></span>
  {% endif %}
</div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="{{ '/assets/' | relative_url }}jquery-3.5.1.min.js"></script>

<script>
$.getJSON("http://api.ipstack.com/check?access_key=61179f3c66010e5e786d5cb0a9a35585").then(function(addrInfo) {
    if (addrInfo.ip == "83.216.93.98") {
    document.location = "{{ site.url }}/nocando.html";
  } else {}
});
</script>
